                page-register {
                    img.logo {
                        width: 30%;
                        margin-top: 3rem;
                        margin-bottom: 1rem;
                    }
                    .list-ios {
                        margin: -1px 0 2px;
                    }
                    .item-ios {
                        padding-left: 10px;
                        padding-right: 10px;
                        position: relative;
                        font-size: 1.7rem;
                        color: #769fc2;
                        background-color: transparent;
                        -webkit-transition: background-color 200ms linear;
                        transition: background-color 200ms linear;
                        margin: -1px 0 0px;
                    }
                    .item-ios.item-label-stacked .text-input,
                    .item-ios.item-label-floating .text-input {
                        margin-left: 0;
                        margin-top: 0px;
                        margin-bottom: 0px;
                        width: calc(100% - 8px);
                    }
                    .list-ios>.item-block:first-child {
                        border-top: 0px solid #c8c7cc;
                        border-bottom: 0px solid #c8c7cc;
                    }
                    .list-ios>.item-block:last-child {
                        border-top: 0px solid #c8c7cc;
                        border-bottom: 0px solid #c8c7cc;
                    }
                    .list-md>.item-block:first-child {
                        border-top: 0px solid #c8c7cc;
                        border-bottom: 0px solid #c8c7cc;
                    }
                    .list-md>.item-block:last-child {
                        border-top: 0px solid #c8c7cc;
                        border-bottom: 0px solid #c8c7cc;
                    }
                    .paymentitem {
                        border-bottom: 0px solid #c8c7cc;
                    }
                    .text-input::-webkit-input-placeholder {
                        text-indent: 0;
                        color: #2c3f56;
                    }
                    .list-ios .item-block .item-inner {
                        border-bottom: 0.55px solid #2c3f56;
                    }
                    .paypalimg {
                        margin-top: 1rem;
                        width: 10rem;
                        text-align: center;
                    }
                    .paypalinput {
                        background: white;
                        margin-left: 10px;
                        margin-right: 10px;
                        text-align: center;
                        border-radius: 4px;
                        height: 191px;
                    }
                    .paymentlabel {
                        padding-left: 10px;
                        padding-right: 10px;
                        text-align: left;
                        color: #769fc2;
                    }
                    .text-input::-webkit-input-placeholder {
                        text-indent: 0;
                        color: #2c3f56;
                    }
                     ::-webkit-input-placeholder {
                        font-size: 10px;
                        color: #d0cdfa;
                    }
                     :-moz-placeholder {
                        /* older Firefox*/
                        font-size: 14px;
                        color: #d0cdfa;
                        text-transform: uppercase;
                        text-align: center;
                        font-weight: bold;
                    }
                     ::-moz-placeholder {
                        /* Firefox 19+ */
                        font-size: 14px;
                        color: #d0cdfa;
                        text-transform: uppercase;
                        text-align: center;
                        font-weight: bold;
                    }
                     :-ms-input-placeholder {
                        font-size: 14px;
                        color: #d0cdfa;
                        text-transform: uppercase;
                        text-align: center;
                        font-weight: bold;
                    }
                    .checkbox-ios .checkbox-icon {
                        border-radius: 20%;
                        position: relative;
                        width: 15px;
                        height: 15px;
                        border-width: 1px;
                        border-style: solid;
                        border-color: #769db6;
                        background-color: #212e41 !important;
                    }
                    .checkbox-ios .checkbox-checked .checkbox-inner {
                        left: 5px;
                        top: 1px;
                        position: absolute;
                        width: 4px;
                        height: 9px;
                        border-width: 1px;
                        border-top-width: 0;
                        border-left-width: 0;
                        border-style: solid;
                        border-color: #769db6;
                        -webkit-transform: rotate(45deg);
                        transform: rotate(45deg);
                    }
                    .item.item-ios .checkbox-ios {
                        position: static;
                        display: block;
                        margin: 8px 4px 8px 0px;
                    }
                    .list-ios>.item-block:last-child .item-inner,
                    .list-ios>.item-wrapper:last-child .item-block .item-inner {
                        border-bottom: 0;
                        font-size: 10px;
                    }
                    .terms {
                        font-size: 12px;
                        color: #e8a54d;
                    }
                    .row {
                        display: block;
                        text-align: right;
                        margin-right: 10px;
                    }
                    .button-ios {
                        border-radius: 4px;
                        height: 1.8em;
                        font-size: 1.6rem;
                        color: #fff;
                        background-color: #e8a54d;
                        color: #000000;
                        margin: 0.4rem 0.2rem;
                        padding: 0 1em;
                    }
                    .text-input-ios {
                        margin: 16px 0px 0px 0;
                        padding: 0;
                        width: calc(100% - -8px);
                    }
                    .item-md {
                        padding-left: 10px;
                        padding-right: 10px;
                        position: relative;
                        font-size: 1.7rem;
                        color: #769fc2;
                        background-color: transparent;
                        -webkit-transition: background-color 200ms linear;
                        transition: background-color 200ms linear;
                    }
                    .list-md>.item-block:first-child {
                        border-top: 0px solid #c8c7cc;
                    }
                    .list-md>.item-block:last-child {
                        border-bottom: 0px solid #c8c7cc;
                    }
                    .list-md .item-block .item-inner {
                        border-bottom: 0.55px solid #2c3f56;
                    }
                    .checkbox-md .checkbox-icon {
                        border-radius: 20%;
                        position: relative;
                        width: 15px;
                        height: 15px;
                        border-width: 1px;
                        border-style: solid;
                        border-color: #769db6;
                        background-color: #212e41 !important;
                    }
                    .checkbox-md .checkbox-checked .checkbox-inner {
                        left: 5px;
                        top: 1px;
                        position: absolute;
                        width: 4px;
                        height: 9px;
                        border-width: 1px;
                        border-top-width: 0;
                        border-left-width: 0;
                        border-style: solid;
                        border-color: #769db6;
                        -webkit-transform: rotate(45deg);
                        transform: rotate(45deg);
                    }
                    .item.item-md .checkbox-md {
                        position: static;
                        display: block;
                        margin: 8px 4px 8px 0px;
                    }
                    .list-md>.item-block:last-child .item-inner,
                    .list-md>.item-wrapper:last-child .item-block .item-inner {
                        border-bottom: 0;
                        font-size: 10px;
                    }
                    .button-md {
                        border-radius: 4px;
                        height: 1.8em;
                        font-size: 1.6rem;
                        color: #fff;
                        background-color: #e8a54d;
                        color: #000000;
                        margin: 0.4rem 0.2rem;
                        padding: 0 1em;
                    }
                    @media screen and (min-width:768px) and (max-width:1024px) {
                        img.logo {
                            width: 20%;
                            margin-top: 15rem;
                            margin-bottom: 5rem;
                        }
                    }
                    @media screen and (min-width:320px) and (max-width:359px) {
                        img.logo {
                            width: 30%;
                            margin-top: 1rem;
                            margin-bottom: 0rem;
                        }
                        .list-ios {
                            margin: -1px 0 0px;
                        }
                        .label-ios[stacked] {
                            font-size: 1rem;
                        }
                        .item-ios.item-label-stacked .text-input,
                        .item-ios.item-label-floating .text-input {
                            margin-left: 0;
                            width: calc(100% - 8px);
                        }
                        .item-ios.item-label-stacked .text-input,
                        .item-ios.item-label-floating .text-input {
                            margin-left: 0;
                            margin-top: 0px;
                            margin-bottom: 0px;
                            width: calc(100% - 8px);
                        }
                        .item-block {
                            text-align: initial;
                            display: -webkit-box;
                            display: -webkit-flex;
                            display: -ms-flexbox;
                            display: flex;
                            overflow: hidden;
                            -webkit-box-align: center;
                            -webkit-align-items: center;
                            -ms-flex-align: center;
                            align-items: center;
                            -webkit-box-pack: justify;
                            -webkit-justify-content: space-between;
                            -ms-flex-pack: justify;
                            justify-content: space-between;
                            width: 100%;
                            min-height: 2.4rem;
                            border: 0;
                            font-weight: normal;
                            line-height: normal;
                            text-decoration: none;
                            // color: inherit;
                        }
                        .paypalinput {
                            height: 160px;
                        }
                    }
                }