<!--
  Generated template for the SenderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header class="no-scroll">

    <ion-navbar>
        <ion-title>sender</ion-title>
    </ion-navbar>

</ion-header> -->


<ion-content padding class="no-scroll">
    <img src="assets/avatar/avatar0.png" class="item-avatar">
    <p>Sign in as</p>
    <h2>{{user.fullname}}</h2>
    <ion-grid>
        <ion-row>
            <ion-col col-6 col-sm-6 col-md-6 col-lg-4 col-xl-3 class="sendercontainer" (click)="goSendmoney()" *ngIf="user.role == 1">
                <ion-icon name="cash"></ion-icon>
                <p>Send Money</p>
            </ion-col>
            <ion-col col-6 col-sm-6 col-md-6 col-lg-4 col-xl-3 class="sendercontainer" (click)="goReceivemoney()" *ngIf="user.role == 0">
                <ion-icon name="logo-usd"></ion-icon>
                <p>Receive Money</p>
            </ion-col>
            <ion-col col-6 col-sm-6 col-md-6 col-lg-4 col-xl-3 class="sendercontainer" (click)="goVerifypaypal()">
                <ion-icon name="card"></ion-icon>

                <!-- <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/PP_logo_h_100x26.png" alt="PayPal Logo"> -->
                <p>Verify Paypal</p>
            </ion-col>
            <ion-col col-6 col-sm-6 col-md-6 col-lg-4 col-xl-3 class="sendercontainer" (click)="goReports()">
                <ion-icon name="list-box"></ion-icon>
                <p>Reports</p>
            </ion-col>
            <ion-col col-6 col-sm-6 col-md-6 col-lg-4 col-xl-3 class="sendercontainer" (click)="goSettings()">
                <ion-icon name="settings"></ion-icon>
                <p>Account Settings</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
                <button class="signup" ion-button (click)="goLogout()">Log out</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>