page-sender {
    .item-avatar {
        margin-top: 2rem;
        border-radius: 50%;
        background-position: center center;
        background-size: cover;
        width: 16rem;
        height: 16rem;
        margin-top: 5rem;
    }
    p {
        color: #000000;
    }
    h2 {
        color: #e9e7e7;
        margin-top: 0.5rem;
        margin-bottom: 3rem;
    }
    .sendertext {
        margin-top: 0rem !important;
        margin-bottom: 2rem;
    }
    ion-icon {
        font-size: 4rem;
        margin-top: 1rem;
        color: rgb(71, 71, 71);
    }
    .sendercontainer:hover {
        background-color: rgb(71, 71, 71);
        color: white;
        p {
            color: white;
        }
        ion-icon {
            font-size: 4rem;
            margin-top: 1rem;
            color: white;
        }
    }
    ion-app.md [padding] .scroll-content {
        padding: 0px !important;
    }
    .grid {
        padding: 0px;
    }
    .col {
        padding: 0px;
    }
}

ion-app.md [padding] .scroll-content {
    padding: 0px !important;
}