page-sender {
    .item-avatar {
        margin-top: 2rem;
        border-radius: 50%;
        background-position: center center;
        background-size: cover;
        width: 16rem;
        height: 16rem;
        margin-top: 5rem;
    }
    p {
        color: rgb(71, 71, 71);
    }
    h2 {
        color: #e9e7e7;
        margin-top: 0.5rem;
        margin-bottom: 3rem;
    }
    .sendertext {
        margin-top: 0rem !important;
        margin-bottom: 2rem;
    }
    ion-icon {
        font-size: 4rem;
        margin-top: 1rem;
        color: rgb(71, 71, 71);
    }
    .sendercontainer:hover {
        background-color: rgb(71, 71, 71);
        color: white;
        p {
            color: white;
        }
        ion-icon {
            font-size: 4rem;
            margin-top: 1rem;
            color: white;
        }
    }
    .button-md {
        width: 100%;
        border-radius: 1px;
        overflow: hidden;
        height: 4.6rem;
        font-size: 1.4rem;
        font-weight: 500;
        text-transform: uppercase;
        color: #212e41 !important;
        background-color: #e8a54d;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 0 1.1em;
    }
    .button-ios {
        width: 100%;
        border-radius: 1px;
        overflow: hidden;
        height: 4.6rem;
        font-size: 1.4rem;
        font-weight: 500;
        text-transform: uppercase;
        color: #212e41 !important;
        background-color: #e8a54d;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 0 1.1em;
    }
    ion-app.md [padding] .scroll-content {
        padding: 0px !important;
    }
    .grid {
        padding: 0px;
    }
    .col {
        padding: 0px;
    }
}

ion-app.md [padding] .scroll-content {
    padding: 0px !important;
}