page-superadmin {
    .signup {
        width: 100%;
    }
    .item-avatar {
        margin-top: 3rem;
        border-radius: 50%;
        background-position: center center;
        background-size: cover;
        width: 16rem;
        height: 16rem;
        margin-bottom: 3rem;
    }
    .sendercontainer {
        background: white;
        border: 1px solid rgb(71, 71, 71);
        height: 10rem;
        color: rgb(71, 71, 71)
    }
    .sendertext {
        margin-top: 0rem !important;
        margin-bottom: 2rem;
    }
    .sendercontainer:hover {
        background-color: rgb(71, 71, 71);
        color: white;
        p {
            color: white;
        }
    }
    ion-icon {
        font-size: 4rem;
        margin-top: 1rem;
    }
}