<!--
  Generated template for the SendmoneyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Tip Someone</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <div class="present">
        <ion-row>
            <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 class="" style="padding:0;margin:0;">
                <img src="{{receiverAvatar}}" class="item-avatar" style="border-radius: 50%;" *ngIf="receiverAvatar">
            </ion-col>
        </ion-row>
        <!-- <ion-row style="color:#ffffff;position:absolute;margin-top:-50px;text-align:center;margin-left:30px;font-weight:bold;">
          <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 class="sendercontainer" style="padding:0;margin:0;">
              <!-- <span *ngIf="sendmoneyData.sendmoney">${{sendmoneyData.sendmoney}}</span> -->
        <!-- </ion-col>
      </ion-row> -->
    </div>
    <ion-row>
        <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 class="sendmoneylabel">
            {{sendmoneyData.receivername}}
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
            <ion-list>
                <ion-item style="text-align:center;">
                    <!-- <ion-input type="text" value="" placeholder="$" [(ngModel)]="sendmoneyformatedcurrency"> -->
                    <!-- <ion-input type="text" value="" placeholder="$" [value]="myModelVariable" (keyup)="convert($event)"> -->
                    <input id="myInput" [(ngModel)]="val" (keyup)="send($event)" style="background:transparent;text-align:center;-webkit-appearance: textfield;
  -webkit-rtl-ordering: logical;
  cursor: text;
  padding: 1px;
  border-width: 0px;
  border-style: inset;
  border-color: initial;
  border-image: initial;width: 100%;" (click)="sendmoneyinit()">
                    <!-- <ion-input type="number" value="" placeholder="$" [(ngModel)]="{{sendmoneyData.sendMoney}}" (change)='onChangePrice($event.target.value)' (keyup)="onPriceUp($event.target.value)"> -->
                    <!-- <ion-icon name="ios-eye-outline" item-right></ion-icon> -->
                    <!-- </ion-input> -->
                </ion-item>
            </ion-list>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4>
            <ion-list>
                <ion-item class="moneyinput" (click)="sendmoneySelect(3)">
                    <ion-label style="text-align: -webkit-center;">$ 3</ion-label>
                </ion-item>
            </ion-list>
        </ion-col>
        <ion-col col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4>
            <ion-list>
                <ion-item class="moneyinput">
                    <ion-label style="text-align: -webkit-center;" (click)="sendmoneySelect(5)">$ 5</ion-label>
                </ion-item>
            </ion-list>
        </ion-col>
        <ion-col col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4>
            <ion-list>
                <ion-item class="moneyinput">
                    <ion-label style="text-align: -webkit-center;" (click)="sendmoneySelect(10)">$ 10</ion-label>
                </ion-item>
            </ion-list>
        </ion-col>
    </ion-row>

    <ion-row *ngIf="qrType">
        <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
            <ion-list>
                <ion-item>
                    <ion-label>Receiver</ion-label>
                    <ion-select [(ngModel)]="qr">
                        <ion-option *ngFor="let receiver of groupReceivers" value="{{receiver.qrId}}">{{receiver.fullName}}</ion-option>
                    </ion-select>
                </ion-item>
            </ion-list>
        </ion-col>
    </ion-row>
    <ion-row *ngIf="!qrType">
        <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
            <button class="signup" ion-button (click)="sendMoney(sendmoneyData)">NEXT</button>
        </ion-col>
    </ion-row>
    <ion-row *ngIf="qrType">
        <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
            <button class="signup" ion-button (click)="paytoReceiver(qr)">NEXT</button>
        </ion-col>
    </ion-row>


</ion-content>