page-transaction-detail {
    img {
        margin-top: 2rem;
        border-radius: 50%;
        background-position: center center;
        background-size: cover;
        width: 8rem;
        height: 8rem;
        margin-bottom: 2rem;
    }
}